/* Основные настройки страницы */
body {
    background-color: #909090; /* Выбранный цвет фона */
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

/* Центрирование контента */
.container {
    width: 1440px; /* Максимальная ширина контента */
    margin: 0 auto; /* Центрирование */
}

/* Удаление маркеров списка и стиля ссылок */
ul {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать отступы */
}

a {
    color: black; /* Черный цвет для якорных ссылок */
    text-decoration: none; /* Убрать подчеркивание */
}

/* Стиль описаний фильмов */
h3 {
    font-weight: bold; /* Выделить заголовки жирным */
}

/* Применение различных шрифтов для каждого фильма */
#movie1desc {
    text-align: center; /* Выравнивание по центру */
}

#movie2desc {
    text-align: justify; /* Выравнивание по ширине */
}

#movie3desc {
    font-family: 'Eric'; /* Укажите имя вашего загруженного шрифта */
    text-align: left; /* Выравнивание влево */
}

/* Размер и закругление изображений */
img {
    width: 300px; /* Фиксированная ширина */
    height: 200px; /* Фиксированная высота */
    object-fit: cover; /* Масштабирование без искажения, изображение будет обрезано */
    border-radius: 15px; /* Закругление краев */
}


/* Применение стилей к таблицам */
table {
    width: 100%; /* Ширина таблиц на 100% */
    border-collapse: collapse; /* Убираем двойные границы */
}

th, td {
    padding: 8px; /* Отступы в ячейках */
    text-align: left; /* Выравнивание текста */
    border: 1px solid #ddd; /* Граница для ячеек */
}

@font-face {
    font-family: 'Eric';
    src: url('Eric.ttf'); /* Путь к вашему шрифту */
}